<!DOCTYPE html>
<html xmlns:th="https://www.thymelef.org">
<head>
<meta charset="ISO-8859-1">
<title>Department</title>
<!-- Latest compiled and minified CSS -->
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
	rel="stylesheet">

<!-- Latest compiled JavaScript -->
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>

  <th:block th:insert="Header.html"></th:block> 
  
	 <div class="container-fluid">
		<div class="card">

			<div class="card-header">
				<h5>Product Deatails</h5>
			</div>
			<div class="card-body">
				<form action="/Product" method="post">

					<div class="row p-2">
						<div class="col-4">
							<label for="productName">Product Name:</label>
						</div>
						<div class="col-6">
							<input type="text" id="productName" name="productName"
								class="form-control">
						</div>
					</div>

					<div class="row p-2">
						<div class="col-4">
							<label for="price">Price:</label>
						</div>
						<div class="col-6">
							<input type="text" id="price" name="price"
								class="form-control">
						</div>
					</div>

					<div class="row p-2">
						<div class="col-4">
							<label for="description">Description:</label>
						</div>
						<div class="col-6">
							<input type="text" id="description" name="description"
								class="form-control">
						</div>
					</div>
					<br> <input type="submit" value="Submit" class="btn btn-success">

				</form>
			</div>
			<div class="card-footer text-center bg-warning">copyright@2024
			</div>
		</div>
	</div>


</body>
</html>